body {
  background: #222; position: relative;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 16px;
  font-style: normal !important;
  font-family: "monospace" !important; }

h1, h2 {
  font-size: 12px;
  font-weight: bold; }

.tooltip {
  position: relative;
  visibility:hidden;
  border:2px groove silver;
  background-color: #444;
}
.window img.powered {
  display: inline;
  height: 24px;
  background: #272930;
  border-radius: 10px; }
.window img.powered.inverse {
  background: #FFF; }
.window {
  font-size: 12px;
  text-align: center;
  padding: 5px;
  border: solid gray 1px;
  position: fixed;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  min-width: 260px;
  max-width: 600px;
  min-height: 260px;
  max-height: 80%;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5px; }
.window * { color: white; }
.window.vt {
  opacity: 0.8; }
.window.vt * {
  padding: 10px;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: 'gray'; }
.window.vt i, .window.vt b { padding:0; }
.window.vt center { text-align: center; }
.window.vt .vt-cursor {
  /* width: 0px; */
  height: 12px;
  padding: 0;
  margin: 0;
  position:absolute; }
.window.vt .vt-cursor::after {
  position: relative; left: 0px;
  content:' ';
  width: 1em;
  background:green;
  height: 12px;
  background: 'green';
  z-index: -1; }
.window.full {
  padding: 10px 20px;
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  bottom: unset; right: unset;
  margin: auto; overflow-y: auto; overflow-x: hidden;
  width: fit-content;
  height: fit-content;
  max-width: 95vw;
  max-height: 95vh; }
.window p { font-size: 12px; }
.window a, .window a:visited, .window a:active, .window a:hover, .version, .description {
  font-size: 12px;
  text-decoration: none;
  font-weight: bolder;
  color: black;
  background: rgba(255,255,255,0.6);
  padding: 5px;
  border-radius: 4px;
  width: 100px;
  display: inline-block;
  }
.window .libs a, .window .libs a:visited, .window .libs a:active, .window .libs a:hover {
  width: 300px;
  border-radius: 5px 5px 0px 5px;
  background: rgba(255, 255, 255, 0.12);
  color: white;
  padding: 3px 10px;
  }
.window .version {
  background: #545454;
  color: #969696;
  float: right;
  width: 80px;
  height: 10px;
  padding: 4px;
  line-height: 10px;
  text-align: right;
  margin-right: 5px;
  border-radius: 0px 0px 5px 5px;
  }
.window .description {
  font-weight: normal;
  display: block;
  margin: 3px;
  padding: 3px; }
.window h2 {
  font-size: 14px; }
.window #game img {
  background: none;
  margin: auto;
  width: 340px;
  height: auto;
  display: block;
  }
.window.about img {
  height: 32px;
  padding: 2px;
  width: auto;
  background: black;
  border-radius 2px;
  border-radius: 4px;
  }
.window a.tabbtn {
  background: #cdcdcd; }
.window .tab {
  position: absolute;
  top: 90px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  display: none;
  margin-top: 5px;
  overflow: auto; }
.window p {
  margin: 5px; }
.window #list {
  overflow: scroll;
  position: absolute;
  top: 38px;
  left: 10px;
  right: 10px;
  bottom: 10px; }
.window iframe {
  border: solid 1px;
  border-radius: 5px;
  margin: 2%;
  height: 96%;
  width: 96%; }
.window ul.libs {
  text-align: left;
  width: 375px;
  margin: auto;
  list-style: none;
  }
.window ul.libs li {
  margin: 5px;
  line-height:20px;
  padding-left: 40px;
  margin-bottom: 20px;
  }
.pre {
  font-family: monospace;
  white-space: pre; }
.close {
  position: absolute;
  right: 10px;
  top: 10px;}

.window.about { overflow: auto; min-width: 600px; min-height: 550px; }
.window header {
  font-weight:bold;font-size:12px;padding:8px; }
.window.about header {
  font-size:16px;padding:16px; }

.slot { position:relative; display:inline-block;vertical-align:top;width:115px;min-height:100px; }
.slot > span {
  overflow: hidden;
  display: inline-block;
  background: rgba(0,0,0,0.8);
  border-radius: 2px;
  margin: 2px;
  max-width: 106px; }
.slot img    { position:absolute;top:19px;width:100%;z-index:-1;height: inherit;}
.slot button { position:absolute;top:2px;right:2px;}

textarea { background:#444;}

a:hover .tooltip { visibility:visible; }

::-webkit-scrollbar{
  width: 10px;
  height: 10px;}
  ::-webkit-scrollbar-track-piece{
  background-color: #333;
  -webkit-border-radius: 3px;}
::-webkit-scrollbar-thumb:vertical{
  height: 6px;
  background-color: #666;
  -webkit-border-radius: 3px;}
::-webkit-scrollbar-thumb:horizontal{
  width: 6px;
  background-color: #666;
  -webkit-border-radius: 3px;}

canvas {position:fixed;bottom:0;right:0;left:0;top:0;color:#fff}
#u_scanner{position:fixed;bottom:0px;right:0px;left:0px;top:0px;width:100%;height:100$;color:#fff}
#u_target{position:fixed;bottom:0px;right:0px;left:initial;top:initial;width:150px;height:150px;color:#fff}
#u_offscreen{position:fixed;width:1px;overflow:hidden;height:1px;top:-1px;left:-1px}
#u_offscreen *{width:50px;height:50px}

.window.modal_list >div{
  overflow-y: auto;
  position: absolute;
  top: 26px;
  bottom: 7px;
  left: 7px;
  right: 7px;
}

.window ul.copyrights li {
  font-size: 14px;
  display: block;
  text-align: left;
  margin: 5px 100px;
  width: 35em;
  height: 20px; }

.window ul.copyrights li:last-child {
  margin-bottom: 20px;
  }

.window.modal_list {
  text-align: left;
  background: rgba(0, 0,   0, 0.9);
  border:     rgba(0, 255, 0, 0.9) solid 1px;
  max-width: 260px;
  left: 7px; }

.window.modal_list * {
  color: green; }

.window.modal_list > header {
  margin: 2px;
  background: green;
  color: black;
  padding: 1px 4px;
  border-radius: 2px; }

.window.modal_list .list-item {
  padding: 2px; }
.window.modal_list .list-item > * {
  padding: 2px; }

.window.modal_list .list-item > span { font-weight: bold; }
.window.modal_list .list-item.active > label {
  background: yellow; }

.window.modal_list .list-item > label {
  background: green;
  color: black;
  font-weight: bold;
  width: 140px;
  display: inline-block;
  margin-right: 2px;
  text-align: right;
  }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor: default; }

.window.modal_list .red { color: red; }

.window.modal_list .big_fat {
  display: block;
  text-align: center;
  font-weight: bold;
  line-height: 24px;
  font-size: 18px; }

.window.modal_list .list-item.slot > label {
  width: 115px; }

.window img.ship_comm { width: 32px; float: left; }
.list-item.select-ship { }
.ship-select { height: 32px; padding: 5px; margin-top: 1px; }
.ship-select h2 { margin-left: 37px; text-align: left;}
.ship-select p { margin-left: 37px; text-align: left; }
.window p.desc {
  text-align: left;
  padding: 4px 32px;
}
.window button { padding: 3px; margin-left: 2px;
  color: black;
  font-size: 11px;
  float: right;
  border-radius: 5px;
  border: solid #ccc;
  line-height: 10px;
  font-weight: bold; outline: none; }
.window button:active { border: solid #f00; }
.window button:hover { border: solid #fcc; }
.window button.buy { background: #9b6767; }
.window button.select { background: #9bc69b; }
.window button.disabled { background: grey; }
